body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "header header"
        "content sidebar"
        "footer footer";
    grid-gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.header{
    grid-area: header;
    background-color: #31ff08;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.content{
    grid-area: content;
    background-color: #08a0ff;
    color:rgb(255, 255, 255);
    border-radius: 0 10px 10px 0;
    padding: 20px;
}

.sidebar{
    grid-area: sidebar;
    background-color: #ff0898;
    color: white;
    border-radius: 10px 0 0 10px;
    padding: 20px;
}

.sideebar a{
    color: rgba(221, 255, 0, 0.859);
    text-decoration: none;
}

.sidebar a:hover{
    text-decoration: underline;
}
.footer{
    grid-area: footer;
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

@media (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "content"
            "sidebar"
            "footer";
    }
    .content, .sidebar{
        border-radius: 10px;
    }
    .heaader h1{
        font-size: 24px;
    }
    .content, .sidebar, .footer{
        padding: 15px;
    }
    .sidebar {
        text-align: center;
    }
    .sidebar ul {
        padding: 0;
        list-style: none;
    }
    .sidebar li {
        margin:  10px 0;
    }
    .footer p{
        font-size: 14px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .container {
        grid-template-columns: 2fr 1fr;
    }
    .content {
        font-size: 16px;
    }
    .sidebar {
        font-size: 14px;
    }
}